<div class="ion-text-center ion-margin text-muted">
    <p>
        Esta app sirve para calcular el <strong>ritmo</strong> basado en objetivos de <strong>distancia</strong> y
        <strong>tiempo</strong>, o para calcular el <strong>tiempo</strong> total a partir de la
        <strong>distancia</strong> y el <strong>ritmo</strong>.
    </p>
    <p>
        Para ello, se realizan operaciones de conversión de base <strong>decimal</strong> a <strong>sexagesimal</strong>
        y viceversa.
    </p>

</div>
