<div class="ion-text-center ion-margin text-muted">
    <p>
        Esta app sirve para calcular el <strong>ritmo</strong> basado en parámetros de entrada de
        <strong>distancia</strong> y <strong>tiempo</strong>, o para calcular el <strong>tiempo</strong> total con
        parámetros de entrada <strong>distancia</strong> y <strong>ritmo</strong>.
    </p>
    <p>
        Se realizan operaciones de conversión de base <strong>decimal</strong> a <strong>sexagesimal</strong> y
        viceversa para ello.
    </p>

</div>
