<ion-grid class="ion-margin">
    <form>
        <ion-item>
            <ion-label position="floating">Distancia (kms)</ion-label>
            <ion-input type="number" [(ngModel)]="distance" (ionBlur)="onChange()" name="distance"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Tiempo (hh:mm:ss)</ion-label>
            <ion-datetime displayFormat="H:mm:ss" [(ngModel)]="time" (ionBlur)="onChange()"
                          name="time"></ion-datetime>
        </ion-item>
    </form>

    <ion-list>
        <ion-item>
            <ion-label>Ritmo:</ion-label>
            <ion-note slot="end">{{result}} min/km</ion-note>
        </ion-item>
    </ion-list>

</ion-grid>



